@font-face {
	font-family: MontExtraLight;
	src: url(../assets/fonts/Mont-ExtraLightDEMO.otf);
}
@font-face {
	font-family: MontHeavy;
	src: url(../assets/fonts/Mont-HeavyDEMO.otf);
}

$darkColor: #161b21;
$whiteColor: #fdfdfd;
$lightGrayColor: #f1f5f9;
$anotherGray: #cad1da;
$orangeColor: #ffbf46;
$greenColor: #0ebe98;
$imgGray: #c4c4c4;

img {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

h6 {
	font-size: 12px;
}

h5 {
	font-size: 14px;
}
h4 {
	font-size: 16px;
}
h3 {
	font-size: 18px;
}
h2 {
	font-size: 24px;
}
h1 {
	font-size: 1.7vw;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}
.width100 {
	width: 100%;
}

.h-3vw {
	height: 3vw;
}

.p-05vw {
	padding: 1vw;
}
.pl-1vw {
	padding-left: 1vw;
}
.pl-4vw {
	padding-left: 4vw;
}
.ml-04vw {
	margin-left: 0.4vw;
}
.ml-1vw {
	margin-left: 1vw;
}
.ml-2vw {
	margin-left: 2vw;
}
.ml-3vw {
	margin-left: 3vw;
}
.mr-1vw {
	margin-right: 1vw;
}
.mr-05vw {
	margin-right: 0.5vw;
}
.mt-03vw {
	margin-top: 0.3vw;
}
.mtb-05vw {
	margin: 0.5vw 0;
}
.orangeText {
	color: $orangeColor;
}
.greenText {
	color: $greenColor;
}
.hidden {
	display: none;
}
.iconGreen {
	border: 1px solid $greenColor;
	&:hover {
		background-color: $greenColor;
	}
}
.iconWhite {
	border: 1px solid $whiteColor;
	&:hover {
		background-color: $whiteColor;
	}
}
.iconLarge {
	padding: 15px;
	margin: 5px;
	width: 60px;
	border-radius: 50%;
}

.underline {
	text-decoration: underline;
}
