@media (max-width: 1000px) {
	.h-3vw {
		height: 7vw;
	}
	#logo {
		padding-left: 6vw;
	}
	#phone {
		h5 {
			display: none;
		}
	}
	#left {
		flex-direction: column-reverse;
		width: 50%;
	}
	#container3 {
		width: 95%;
		overflow-y: hidden;
		overflow-x: auto;
		#leftLeft {
			display: -webkit-inline-box;

			img {
				width: 150px;
			}
			div {
				width: max-content;
				margin-right: 1vw;
			}
		}
	}
	#cover {
		position: fixed;
	}
	#navBar {
		position: fixed;
		max-height: 100vh;
		overflow: auto;
		ul {
			padding: 1vw;
		}
	}
	// .tooltip {
	// 	left: -125% !important;
	// }
	#protection {
		padding: 1vw;
	}
	#leftRight {
		width: 95%;
		margin: auto;
		#previous {
			width: 4vw;
			height: 5vw;
			img {
				transform: rotate(180deg);
			}
		}
		#next2 {
			width: 4vw;
			height: 5vw;
			left: 44vw;
		}
	}
	h1 {
		font-size: 4vw;
	}
	#pickColor {
		//align-items: center;
		div:hover div {
			all: unset !important;
		}
		div:hover + .tooltip {
			all: unset !important;
		}
	}
	.tooltipText img {
		display: none;
	}
	.tooltip {
		//background-color: red !important;
		all: unset !important;
	}
	.tooltip::before {
		all: unset !important;
	}
	.tooltipText {
		all: unset;
		//background-color: red;
		display: flex;
		text-align: center;
		border: 2px solid black;
		border-radius: 25px;
		justify-content: center;
		align-items: center !important;
		height: 2vw !important;
		cursor: pointer;
		&:hover {
			background-color: black;
			color: $anotherGray;
			border-color: $anotherGray;
		}
		.pointer {
			all: unset;
			display: none;
		}
		// .tooltip {
		// 	margin: auto;
		// }
	}

	.tooltip:hover {
		all: unset !important;
	}
	div:hover + .tooltip {
		all: unset !important;
		visibility: hidden;

		align-items: center;
	}
}

@media (max-width: 768px) {
	.h-3vw {
		height: 8vw;
	}
	.container {
		flex-direction: column;
		#left {
			width: 90%;
		}
		#right {
			width: 85%;
			div {
				margin-bottom: 1vw;
			}
			// * {
			// 	margin: 0.4vw 0;
			// }
		}
		#leftRight {
			width: 60%;
			margin: auto;
		}
	}
	#next2 {
		left: 68vw !important;
	}

	// .tooltip {
	// 	margin-bottom: -1vw !important;
	// }
	.icon {
		height: 15px;
		width: 15px;
	}
	.iconLarge {
		padding: 5px;
		margin: 3px;
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
}

@media (max-width: 500px) {
	.h-3vw {
		height: 20vw;
	}
	#phone {
		h4 {
			display: none;
		}
		div {
			//padding: 10px;
			//margin: 5px;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 1px solid $whiteColor;
			img {
				width: 18px;
				height: 18px;
				margin: auto;
			}

			&:hover {
				filter: hue-rotate(180deg);
				-webkit-filter: hue-rotate(180deg);
				background-color: $whiteColor;
				img {
					filter: brightness(0);
				}
			}
		}
	}

	#logo {
		display: none;
	}

	#searchBar {
		width: 30%;
		margin-left: 10vw;
	}
	#next2 {
		left: 66vw !important;
	}
	.tooltipText {
		height: 3.5vw !important;
	}
}
