*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	width: 22px;
	border-radius: 13px;
	height: 50px;
	color: #818a96;
	background-color: #cad1da;
	background-clip: padding-box;
	border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar:horizontal {
	height: 26px;
	//background-color: red;
}
::-webkit-scrollbar-thumb:horizontal {
	color: #818a96;
	background-color: #cad1da;
	background-clip: padding-box;
	border: 10px solid transparent;
}

@media (max-width: 1000px) {
	*::-webkit-scrollbar,
	*::-webkit-scrollbar-thumb {
		border: 12px solid transparent;
	}
}
