@import "config";
@import "navigation";
@import "scrollbar";

@font-face {
	font-family: MontExtraLight;
	src: url(../assets/fonts/Mont-ExtraLightDEMO.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: MontExtraLight;
}

body.active {
	overflow: hidden;
}

img {
	width: 100%;
}

header {
	display: flex;
	align-items: center;
	padding: 25px;
	background-color: $darkColor;
}
#logo {
	img {
		height: 54px;
	}
}
#searchBar {
	background-color: $darkColor;
	width: 20%;
	border-style: solid;
	border-width: 0 0 0.5px 0;
	border-color: $whiteColor;
	padding-left: 60px;
	background-image: url("/dist/search.png");
	background-position: 5px 0px;
	background-size: 35px;
	background-repeat: no-repeat;
	height: 45px;
}

#login {
	display: flex;
	align-items: center;
	div {
		color: $whiteColor;
	}
	#phone {
		margin-right: 1vw;
		div {
			display: flex;
			align-items: center;
		}
	}
}

.container {
	display: flex;
	padding: 0.5vw 1vw 0 1vw;
}
#left {
	display: flex;
	width: 50%;
	flex-direction: row;
	//flex-wrap: wrap;
}
#container3 {
	width: 30%;
	max-height: 55vh;
	overflow: auto;
	margin: auto;
}
#leftLeft {
	//flex-grow: 1;
	// overflow-y: auto;
	// overflow-x: hidden;
	// height: 70vh;
	div {
		background-color: $lightGrayColor;
		//width: 11vw;
		//aspect-ratio: 1 / 0.75;
		height: 100px;
		margin: 10px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
#leftRight {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	.tooltipText {
		background-color: $imgGray;
		width: 100%;
		margin: auto 1vw auto 0;
	}

	#previous {
		position: absolute;
		width: 3vw;
		height: 4vw;

		img {
			transform: rotate(180deg);
		}
	}
	#next2 {
		width: 3vw;
		height: 4vw;
		position: relative;
		right: 4vw;
	}
	.next {
		opacity: 0.5;
		background-color: rgba(0, 0, 0, 0.2);
		padding: 0.7vw;
		width: 3vw;
	}
	.next:hover {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.7);
	}
	#mainImg {
		background-color: $lightGrayColor;
		width: 100%;
		height: 40vw;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1vw;
		img {
			display: block;
			padding: auto;
			opacity: 1;
			-webkit-transition: opacity 1s ease-in-out;
			-moz-transition: opacity 1s ease-in-out;
			-ms-transition: opacity 1s ease-in-out;
			-o-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
		}
		img.fade {
			opacity: 0;
		}
	}
}

#right {
	width: 40%;
	margin-left: 1vw;
}

.containerRight {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	* {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	div {
		padding: 0.5vw 0;
	}
}
#promotion {
	background-color: $orangeColor;
	padding: 5px 20px;
	border-radius: 15px;
	border-width: 0;
}
#divider {
	height: 1px;
	border-width: 0;
	border-top: 2px solid #bbb;
	border-radius: 5px;
}
#cover {
	background-color: black;
	position: absolute;
	width: 0;
	height: 0;
	z-index: 2;
	top: 0;
	transition: width 0.7s, height 0.7s, opacity 0.7s;
}

#pickColor {
	//align-items: center;
	margin: 0.7vw 0;
	div:hover div {
		border: 1px solid black;
	}
	div:hover + .tooltip {
		visibility: visible;
		opacity: 1;
	}
	div {
		height: 45px;
		width: 45px;
		margin: 0 0.2vw;
		div {
			background-color: $lightGrayColor;
		}
		img {
			//height: 42px;
			width: 42px;
			margin: 1vw;
		}
	}

	.tooltip {
		position: relative;
		visibility: hidden;
		min-width: 80px;
		max-height: 25px;
		color: white;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		padding: 5px 0;
		margin-bottom: 100px;
		left: -150%;
		opacity: 0;
		//transform: translateY(7px);
		transition: opacity 0.7s;
		background-color: $darkColor;
	}
	.tooltip::before {
		position: relative;
		content: " ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 12.5px 0 12.5px;
		border-color: $darkColor transparent transparent;
		position: absolute;
		top: 90%;
		left: 35%;
	}
}
#protection {
	background: linear-gradient(
		90deg,
		#29323d 0%,
		rgba(69, 75, 83, 1) 50%,
		#29323d 100%
	);
}

#addCart {
	background-color: #161b21;
	color: $whiteColor;
	width: 47%;
	justify-content: center;
}

#credit {
	background: none;
	border-color: $orangeColor;
	border-width: 1px;
	width: 47%;
}

#addFavorites > button {
	background: none;
	border: none;
}

.icon {
	width: 15px;
	height: 15px;
}
.hidden {
	display: none;
}
.iconGreen {
	border: 1px solid $greenColor;
	&:hover {
		background-color: $greenColor;
	}
}
.iconWhite {
	border: 1px solid $whiteColor;
	&:hover {
		background-color: $whiteColor;
	}
}
.iconLarge {
	padding: 10px;
	margin: 5px;
	width: 60px;
	border-radius: 50%;
	//height: 50px;
}

.oldPrice {
	text-decoration: line-through;
	color: gray;
}

.underline {
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

@import "media";
